<ion-view view-title="Who should pay next">
  <ion-content class="padding text-center">
    <h5>Who should pay next?</h5>
    <h2>{{ friends[0].name }}</h2>
    <br/>

    <div class="list">

      <a class="item" href="#"  ng-repeat="friend in friends  | orderBy:'balance'">
        <h2>{{ friend.name }}</h2>
        <p>{{ friend.balance }}</p>
      </a>

    </div>

    <div class="button button-balanced button-block" ui-sref="app.list">
      All payments so far
    </div>
    <div class="button button-positive button-block" ui-sref="app.add">
      Add a new payment
    </div>

  </ion-content>
</ion-view>
